<html>
  <head>
    <title>Pay service</title>
    <meta http-equiv="Content-type"
          content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <form name="Invoice" method={{data['method']}} action={{data['url']}} accept-charset="UTF-8">
      <div class="forma">
        <div>
          <input name="lang" value={{data["data"]["lang"]}} />
        </div>
        <div>
          <input name="m_curorderid" value={{data["data"]["m_curorderid"]}} />
        </div>
        <div>
          <input name="m_historyid" value={{data["data"]["m_historyid"]}} />
        </div>
        <div>
          <input name="m_historytm" value={{data["data"]["m_historytm"]}} />
        </div>
        <div>
          <input name="referer" value={{data["data"]["referer"]}} />
        </div>
        <div>
          <input type="submit" name="description" value="Test invoice"/>
        </div>
      </div>
    </form>
  </body>
</html>

